# Using the ACSF-Reader

In [4]:
from ACSReader import Reader

Creating a Reader() class

In [5]:
reader = Reader()

## Loading the data

In [5]:
reader.download_data(version=2, save_dir='.', unzip=True, keep_zip=False)

This command will download the dataset from [here](https://icosys.ch/acs-f2), unzip it and remove the .zip file.

## Creating a DataFrame


To create a DataFrame the reader need the path to the .xml files in the downloaded folder. 

```create_dataframe()``` has to point to the root folder of the dataset.

The datapath can be set manually using ```set_file_paths()```

By default all features are used to create the DataFrame to change that use ```set_targets()```

In [6]:
df, device_df = reader.create_dataframe('./ACS-F2/')

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,355,356,357,358,359,360,361,362,363,label
freq_Monitor_Brilliance 235BL_1_0,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,...,50.000,50.000,50.000,50.000,NaN,NaN,NaN,NaN,NaN,Monitor
phAngle_Monitor_Brilliance 235BL_1_0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,272.000,272.000,272.000,272.000,NaN,NaN,NaN,NaN,NaN,Monitor
power_Monitor_Brilliance 235BL_1_0,24.637,24.637,24.120,24.120,24.120,24.120,24.120,24.120,24.120,24.120,...,0.103,0.000,0.103,0.103,NaN,NaN,NaN,NaN,NaN,Monitor
reacPower_Monitor_Brilliance 235BL_1_0,-1.552,-1.552,-1.552,-1.449,-1.449,-1.449,-1.552,-1.552,-1.552,-1.449,...,-3.002,-3.002,-3.002,-3.002,NaN,NaN,NaN,NaN,NaN,Monitor
rmsCur_Monitor_Brilliance 235BL_1_0,0.175,0.174,0.171,0.170,0.171,0.171,0.172,0.171,0.172,0.171,...,0.013,0.013,0.013,0.013,NaN,NaN,NaN,NaN,NaN,Monitor

In [8]:
device_df.head()

,brand,comment,energyClass,model,type
0,Philips,Sebastien monitor,?,Brilliance 235BL,Monitor
1,Philips,the monitor i use in the office C00.19,,190B,Monitor
2,Philips,Sebastien monitor,?,Brilliance 235BL,Monitor
3,Philips,the monitor i use in the office C00.19,,190B,Monitor
4,Sun,from energetic institute,?,0442MR0463,Monitor

## Other useful things

### Creating the Intersession Protocol

Splitting the electrical Devices into train and test set by their recording sessions.

In [9]:
df_train, df_test = reader.create_intersession_protocol(df)

In [10]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,355,356,357,358,359,360,361,362,363,label
freq_Monitor_Brilliance 235BL_1_0,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,...,50.000,50.000,50.000,50.000,NaN,NaN,NaN,NaN,NaN,Monitor
phAngle_Monitor_Brilliance 235BL_1_0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,272.000,272.000,272.000,272.000,NaN,NaN,NaN,NaN,NaN,Monitor
power_Monitor_Brilliance 235BL_1_0,24.637,24.637,24.120,24.120,24.120,24.120,24.120,24.120,24.120,24.120,...,0.103,0.000,0.103,0.103,NaN,NaN,NaN,NaN,NaN,Monitor
reacPower_Monitor_Brilliance 235BL_1_0,-1.552,-1.552,-1.552,-1.449,-1.449,-1.449,-1.552,-1.552,-1.552,-1.449,...,-3.002,-3.002,-3.002,-3.002,NaN,NaN,NaN,NaN,NaN,Monitor
rmsCur_Monitor_Brilliance 235BL_1_0,0.175,0.174,0.171,0.170,0.171,0.171,0.172,0.171,0.172,0.171,...,0.013,0.013,0.013,0.013,NaN,NaN,NaN,NaN,NaN,Monitor

### Creating a Signature DataFrame

Creating a DataFrame containing the signatures. Returning a DataFrame of shape $NxM$, where N is the number of signatures and M the features in the signature

In [11]:
signature_df = reader.create_signature_dataset(df_train)

In [12]:
signature_df.head()

         freq phAngle   power reacPower rmsCur  rmsVolt
Monitor  50.0     0.0  24.637    -1.552  0.175   232.62
Monitor  50.0     0.0  24.637    -1.552  0.174  232.659
Monitor  50.0     0.0   24.12    -1.552  0.171  232.808
Monitor  50.0     0.0   24.12    -1.449   0.17  232.867
Monitor  50.0     0.0   24.12    -1.449  0.171  232.847